# Preprocessing step

## Import of tools

In [1]:
import pandas as pd
import numpy as np
import re

from sklearn.feature_extraction import text 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

!pip install langdetect
from langdetect import detect

Requirement already satisfied: langdetect in /usr/local/lib/python3.7/dist-packages (1.0.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from langdetect) (1.15.0)

## Import cleaned datasets

In [9]:
game_reviews = pd.read_csv('/content/drive/MyDrive/Springboard DS/data/cleaned_game_reviews.csv', index_col=0)
game_ratings = pd.read_csv('/content/drive/MyDrive/Springboard DS/data/cleaned_game_ratings.csv', index_col=0)

In [10]:
game_reviews.describe()

             rating            ID
count  2.948623e+06  2.948623e+06
mean   6.886088e+00  8.918477e+04
std    1.796896e+00  9.072863e+04
min    1.401300e-45  1.000000e+00
25%    6.000000e+00  6.607000e+03
50%    7.000000e+00  4.277600e+04
75%    8.000000e+00  1.634120e+05
max    1.000000e+01  3.509920e+05

## Remove emoticons and digits

In [11]:
def emoticon_removal(text):
    text = re.sub('<[^>]*>', '', text)
    emoticons = re.findall('(?::|;|=)(?:-)?(?:\)|\(|D|P)',
                           text)
    text = (re.sub('[\W]+', ' ', text) +
            ' '.join(emoticons).replace('-', ''))
    return text

game_reviews['comment'] = game_reviews['comment'].apply(emoticon_removal)

## Sample 20% of the data to make the dataframe small enough to work with

In [12]:
reviews_subset_df = game_reviews.sample(frac=0.2, replace=False, random_state=42)

## Identify language and remove non-English reviews

In [13]:
reviews_subset_df.describe()

              rating             ID
count  589725.000000  589725.000000
mean        6.884386   89281.868015
std         1.796214   90794.354853
min         0.001000       1.000000
25%         6.000000    6644.000000
50%         7.000000   42939.000000
75%         8.000000  163412.000000
max        10.000000  350992.000000

In [14]:
for idx, row in reviews_subset_df.iterrows():
  try:
    lang = detect(row['comment'])
    if lang != 'en':
      reviews_subset_df.drop(idx, axis=0, inplace=True)
  except:
    language = 'error'
    print("This row throws an error:", row)
    reviews_subset_df.drop(idx, axis=0, inplace=True)

# Outputting a csv at this stage so that I do not have to run the lengthy language process each time I run the worksheet
reviews_subset_df.to_csv('/content/drive/MyDrive/Springboard DS/data/english_only_game_reviews.csv')
reviews_subset_df.describe()

This row throws an error: rating                        7.3
comment    2016 5 8 6 7 8 7 7 7 8
ID                         176544
Name: 13285588, dtype: object
This row throws an error: rating                      5.0
comment    4 5 2 5 3 2 3 5 15 5
ID                       117914
Name: 15288017, dtype: object
This row throws an error: rating                         8.0
comment    3 5 3 5 3 5 4 3 5 18 25
ID                          258444
Name: 13660248, dtype: object
This row throws an error: rating                       7.0
comment    07 15 14 9 12 31 15 7
ID                         18905
Name: 17716328, dtype: object
This row throws an error: rating                         8.0
comment    4 3 5 4 3 5 4 5 19 5 25
ID                          136888
Name: 8078594, dtype: object
This row throws an error: rating                         7.0
comment    4 5 4 5 3 5 3 4 19 5 25
ID                          143986
Name: 10374456, dtype: object
This row throws an error: rating                        6.9
comment    2014 1 7 6 7 6 8 7 7 7
ID                         143515
Name: 11525126, dtype: object
This row throws an error: rating        6.8
comment
ID         210663
Name: 17136087, dtype: object
This row throws an error: rating        7.6
comment
ID         193042
Name: 10414040, dtype: object
This row throws an error: rating                       8.0
comment     155 160 151 172 145
ID                        271896
Name: 9771702, dtype: object
This row throws an error: rating                                5.8
comment    2012 6 7 6 4 6 7 6 5 6 6 6 6 6
ID                                 117960
Name: 13586982, dtype: object
This row throws an error: rating                               9.3
comment    200 23 70 9 4 5 5 5 8 1 259 8
ID                                115746
Name: 6692081, dtype: object
This row throws an error: rating                        6.5
comment    2015 1 8 4 4 7 7 7 7 8
ID                         158339
Name: 13061684, dtype: object
This row throws an error: rating                           9.0
comment    4 2 66 3 1 75 44 56 50 52
ID                            155426
Name: 4414862, dtype: object
This row throws an error: rating                        7.3
comment    2016 4 8 6 7 8 6 8 8 7
ID                         191862
Name: 6758398, dtype: object
This row throws an error: rating                       8.0
comment     150 163 151 172 150
ID                        263918
Name: 4729845, dtype: object
This row throws an error: rating                                      7.2
comment    02 20 25 08 20 33 02 21 35 08 21 49
ID                                       228660
Name: 12453568, dtype: object
This row throws an error: rating                            7.1
comment    2010 4 6 7 8 8 6 7 7 9 6 7
ID                              66362
Name: 9090900, dtype: object
This row throws an error: rating                          9.0
comment    5 7 12 66 0 138 28 2 59
ID                           236457
Name: 4615441, dtype: object
This row throws an error: rating                       8.0
comment    2015 11 8 2015 01 8 5
ID                         41933
Name: 12355548, dtype: object
This row throws an error: rating                              7.9
comment    2015 3 8 8 8 8 8 7 8 8 8 8 8
ID                               171623
Name: 5567162, dtype: object
This row throws an error: rating                        6.4
comment    2010 5 7 6 5 6 7 7 6 7
ID                          65990
Name: 16331492, dtype: object
This row throws an error: rating        6.5
comment
ID         192945
Name: 14632759, dtype: object
This row throws an error: rating                                      7.6
comment    02 20 12 08 20 12 02 21 13 08 21 19
ID                                       262114
Name: 15563126, dtype: object
This row throws an error: rating                                  8.9
comment    02 20 4 08 20 5 02 21 5 08 21 5
ID                                   180974
Name: 6335140, dtype: object
This row throws an error: rating                                       8.0
comment    2 2016 17 2017 0 2018 1 2019 0 2020 0
ID                                        173346
Name: 3029094, dtype: object
This row throws an error: rating                                             7.5
comment    2014 11 2015 3 2016 2 2017 0 2018 0 2019 0
ID                                              148228
Name: 2969427, dtype: object
This row throws an error: rating                              7.0
comment    2015 4 2016 1 2017 0 2018 0
ID                                15363
Name: 9231885, dtype: object
This row throws an error: rating                       7.0
comment    03 10 12 6 09 10 16 7
ID                          2448
Name: 9589241, dtype: object
This row throws an error: rating        1.3
comment
ID         226610
Name: 14355482, dtype: object
This row throws an error: rating                                      7.5
comment    02 20 11 08 20 13 02 21 17 08 21 44
ID                                       155426
Name: 5545802, dtype: object
This row throws an error: rating                            7.2
comment    2011 3 8 7 6 8 6 7 8 8 7 7
ID                              91523
Name: 12967375, dtype: object
This row throws an error: rating                   6.0
comment    118 90 28 24 1 16
ID                     40692
Name: 3854082, dtype: object
This row throws an error: rating                          8.0
comment    2017 3 2018 1 2019 0 50
ID                            37836
Name: 14593957, dtype: object
This row throws an error: rating                         7.0
comment    3 5 2 5 3 3 5 3 15 5 25
ID                          298069
Name: 12526264, dtype: object
This row throws an error: rating                      8.0
comment    2019 1 2020 0 2021 3
ID                       215311
Name: 7903323, dtype: object
This row throws an error: rating                          8.0
comment    2018 2 2019 0 2020 2 80
ID                           144733
Name: 6999338, dtype: object
This row throws an error: rating            7.0
comment    1 2 3 4 12
ID              34166
Name: 15885547, dtype: object
This row throws an error: rating        7.5
comment
ID         160499
Name: 6643754, dtype: object
This row throws an error: rating                        7.3
comment    2016 1 7 6 7 7 7 9 8 7
ID                         172381
Name: 13001775, dtype: object
This row throws an error: rating                          5.5
comment    3 3 5 3 2 5 2 5 14 5 25
ID                           205831
Name: 16981134, dtype: object
This row throws an error: rating                        6.9
comment    2011 5 7 6 7 7 6 7 7 8
ID                          24068
Name: 9134464, dtype: object
This row throws an error: rating                                     8.0
comment    02 20 8 08 20 10 02 21 11 08 21 13
ID                                      272993
Name: 17070541, dtype: object
This row throws an error: rating                     8.0
comment    04 2019 9 03 2020 8
ID                      157969
Name: 868655, dtype: object
This row throws an error: rating                       9.0
comment    01 2018 9 5 03 2020 9
ID                          2653
Name: 4425618, dtype: object
This row throws an error: rating                                                   8.0
comment    2 2014 10 2015 0 2016 2 2017 0 2018 1 2019 0 2...
ID                                                      3201
Name: 9696176, dtype: object
This row throws an error: rating                          6.3
comment    2015 7 6 7 7 6 6 6 7 5 5
ID                           182605
Name: 16956420, dtype: object
This row throws an error: rating                        7.5
comment    2010 2 8 8 5 8 7 7 8 8
ID                          57925
Name: 12406550, dtype: object
This row throws an error: rating                                           8.0
comment    2016 1 2017 1 2018 3 2019 7 2020 0 2021 1
ID                                            148228
Name: 1915979, dtype: object
This row throws an error: rating        7.5
comment
ID         181796
Name: 13265859, dtype: object
This row throws an error: rating                         8.3
comment    08 2018 9 0 01 2021 8 3
ID                          236191
Name: 10262337, dtype: object
This row throws an error: rating                            10.0
comment    2018 3 2019 1 2020 1 2021 0
ID                              196340
Name: 7625030, dtype: object
This row throws an error: rating                          8.0
comment    04 2019 9 10 03 2021 9 8
ID                           171131
Name: 4985955, dtype: object
This row throws an error: rating                                      7.3
comment    02 20 18 08 20 25 02 21 25 08 21 24
ID                                        69789
Name: 6690879, dtype: object
This row throws an error: rating       3.0
comment     1 3
ID         28143
Name: 3696609, dtype: object
This row throws an error: rating                                                   8.0
comment    ___ __ __________ _ _ ____ _ ____ __________ _...
ID                                                       691
Name: 14039908, dtype: object
This row throws an error: rating        6.6
comment
ID         163412
Name: 3605569, dtype: object
This row throws an error: rating                             8.0
comment    2018 1 2019 4 2020 0 2021 2
ID                              200077
Name: 10250576, dtype: object
This row throws an error: rating                            6.0
comment    2 8 0 6 60 1 44 30 21 1162
ID                             124172
Name: 10553661, dtype: object
This row throws an error: rating                        4.9
comment    2011 1 7 5 3 4 3 5 6 6
ID                          80942
Name: 17855588, dtype: object
This row throws an error: rating                          7.0
comment    2012 6 8 7 6 7 8 7 7 6 7
ID                           108745
Name: 5705657, dtype: object
This row throws an error: rating                             8.0
comment    2018 4 2019 1 2020 0 2021 0
ID                              238656
Name: 14833245, dtype: object
This row throws an error: rating                       8.0
comment     152 161 151 163 145
ID                          2653
Name: 4980773, dtype: object
This row throws an error: rating                         8.0
comment    5596 1329 8 3 14 5 2021
ID                          314491
Name: 13250814, dtype: object
This row throws an error: rating                         7.0
comment    4 2 5 3 3 5 3 5 16 5 25
ID                          240094
Name: 17644536, dtype: object
This row throws an error: rating        8.4
comment
ID         177736
Name: 5191148, dtype: object
This row throws an error: rating                              6.1
comment    2011 6 8 5 4 5 6 4 6 7 7 7 8
ID                                91312
Name: 8360811, dtype: object
This row throws an error: rating                          6.6
comment    2014 6 6 6 7 7 6 8 6 7 6
ID                           154246
Name: 10493205, dtype: object
This row throws an error: rating                            6.8
comment    2015 4 7 7 7 8 5 8 7 7 6 6
ID                             136991
Name: 10525137, dtype: object
This row throws an error: rating                       7.0
comment    09 01 14 8 11 08 15 7
ID                          7805
Name: 9008240, dtype: object
This row throws an error: rating                         7.5
comment    5 3 5 3 5 3 5 4 19 5 25
ID                          147431
Name: 16253391, dtype: object
This row throws an error: rating                              9.0
comment    13 12 2019 7 8 22 2 2021 8 9
ID                               183394
Name: 887045, dtype: object
This row throws an error: rating                                   8.3
comment    02 20 6 08 20 8 02 21 10 08 21 9
ID                                    217085
Name: 11221687, dtype: object
This row throws an error: rating                       8.0
comment     152 160 151 172 154
ID                          2001
Name: 16027810, dtype: object
This row throws an error: rating                          7.4
comment    2010 2 7 7 7 8 8 8 8 7 7
ID                            58421
Name: 10432412, dtype: object
This row throws an error: rating                    6.0
comment    06 2020 7 4 2021 6
ID                        624
Name: 10022658, dtype: object
This row throws an error: rating                         7.5
comment    3 79 1 4 60 120 240 68
ID                          121921
Name: 2475527, dtype: object
This row throws an error: rating                         8.6
comment    06 2018 8 3 01 2021 8 6
ID                          175640
Name: 10896412, dtype: object
This row throws an error: rating                       7.7
comment    8 8 9 8 9 6 8 7 8 7 7
ID                         98778
Name: 1441300, dtype: object
This row throws an error: rating                         6.5
comment    3 5 2 5 3 3 2 5 14 5 25
ID                          306040
Name: 13802756, dtype: object
This row throws an error: rating                       6.0
comment    2021 08 19 2021 11 30
ID                        212516
Name: 14173872, dtype: object
This row throws an error: rating                        6.1
comment    2015 2 7 5 6 6 6 6 7 6
ID                         165948
Name: 14485402, dtype: object
This row throws an error: rating       8.3
comment
ID         35677
Name: 1029288, dtype: object
This row throws an error: rating        6.0
comment
ID         176734
Name: 10622394, dtype: object
This row throws an error: rating                        5.6
comment    2015 1 6 4 6 6 6 5 6 6
ID                         165556
Name: 17066981, dtype: object
This row throws an error: rating                                                   9.0
comment    2 2014 4 2015 1 2016 1 2017 0 2018 0 2019 0 20...
ID                                                     12333
Name: 1520689, dtype: object
This row throws an error: rating                            6.8
comment    2015 6 7 5 5 7 8 8 7 8 8 5
ID                             154203
Name: 5942192, dtype: object

              rating             ID
count  549447.000000  549447.000000
mean        6.868426   87775.651748
std         1.805478   90332.019783
min         0.001000       1.000000
25%         6.000000    6249.000000
50%         7.000000   41002.000000
75%         8.000000  161936.000000
max        10.000000  350992.000000

In [2]:
reviews_subset_df = pd.read_csv('/content/drive/MyDrive/Springboard DS/data/english_only_game_reviews.csv', index_col=0)
reviews_subset_df.describe()

              rating             ID
count  549447.000000  549447.000000
mean        6.868426   87775.651748
std         1.805478   90332.019783
min         0.001000       1.000000
25%         6.000000    6249.000000
50%         7.000000   41002.000000
75%         8.000000  161936.000000
max        10.000000  350992.000000

## Identify corpus-specific stopwords (from EDA)

In [3]:
bgg_stop_words = ['game', 'play', 'like', 'fun', 'one', 'good', 'really', 'great', 'much', 'also', 'interesting', 'many']

## Create stopwords set to use in CountVectorizer

In [4]:
full_set_stop_words = text.ENGLISH_STOP_WORDS.union(bgg_stop_words)

# Prepare test and training sets

Even with 20% of the original data, it's still too big to run through the vectorizer. Taking 50% of the remaining.

In [5]:
reviews_sub_subset_df = reviews_subset_df.sample(frac=0.50, replace=False, random_state=42)

In [7]:
X = reviews_sub_subset_df.drop(['rating'], axis=1)
y = reviews_sub_subset_df['rating']

# For use with the count vectorizer
X_train_cv, X_test_cv, y_train_cv, y_test_cv = train_test_split(X, y, test_size=0.33, random_state=42)

# For use with the TF-IDF vectorizer
X_train_tf, X_test_tf, y_train_tf, y_test_tf = train_test_split(X, y, test_size=0.33, random_state=42)

## Create features

### Count vectorization, with stop words passed in

In [15]:
bigram_count_vectorizer = CountVectorizer(ngram_range=(2, 2),
                                          decode_error='ignore', 
                                          min_df=20, max_df=0.95,
                                          token_pattern=r'\b[^\d\W]+\b',
                                          stop_words=full_set_stop_words)

# The token pattern includes the removal of digits
bigram_cv = bigram_count_vectorizer.fit_transform(X_train_cv['comment'])

In [16]:
trigram_count_vectorizer = CountVectorizer(ngram_range=(3, 3),
                                           decode_error='ignore',
                                           min_df=20, max_df=0.95,
                                           token_pattern=r'\b[^\d\W]+\b',
                                           stop_words=full_set_stop_words)

trigram_cv = trigram_count_vectorizer.fit_transform(X_train_cv['comment'])

In [17]:
bigram_columns = bigram_count_vectorizer.get_feature_names_out()

bigram_word_counts_cv = pd.DataFrame(bigram_cv.toarray(), 
                                     columns=bigram_columns)

bigram_word_counts_cv.head(5)

,_weight min,abilities cards,abilities make,ability cards,ability make,ability plan,ability players,ability use,able beat,able build,...,youtube com,yr old,z man,zero luck,zero player,zero sum,zombie apocalypse,zombie dice,zombie games,zombie theme
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
trigram_columns = trigram_count_vectorizer.get_feature_names_out()

trigram_word_counts_cv = pd.DataFrame(trigram_cv.toarray(),
                                      columns=trigram_columns)

trigram_word_counts_cv.head(5)

,abstract area control,abstract doesn t,abstract star star,abstract strategy games,abstract tile laying,accessible non gamers,action point allowance,action selection mechanic,action selection mechanism,actions don t,...,yahtzee style dice,year old daughter,year old enjoys,year old loves,year old s,year old son,year old year,years ago played,years don t,youtube com watch
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Export the CountVectorizer output for use in the modeling step

In [25]:
bigram_word_counts_cv.to_csv('/content/drive/MyDrive/Springboard DS/data/bigram_cv.csv')
trigram_word_counts_cv.to_csv('/content/drive/MyDrive/Springboard DS/data/trigram_cv.csv')

### TF-IDF vectorization, with stop words passed in

In [8]:
bigram_tfidf_vectorizer = TfidfVectorizer(ngram_range=(2, 2),
                                          decode_error='ignore',
                                          min_df=20, max_df=0.95,
                                          token_pattern=r'\b[^\d\W]+\b',
                                          stop_words=full_set_stop_words)

bigram_tf = bigram_tfidf_vectorizer.fit_transform(X_train_tf['comment'])

In [14]:
trigram_tfidf_vectorizer = TfidfVectorizer(ngram_range=(3, 3),
                                           decode_error='ignore',
                                           min_df=20, max_df=0.95,
                                           token_pattern=r'\b[^\d\W]+\b',
                                           stop_words=full_set_stop_words)

trigram_tf = trigram_tfidf_vectorizer.fit_transform(X_train_tf['comment'])

In [10]:
bigram_tf_columns = bigram_tfidf_vectorizer.get_feature_names_out()

bigram_word_counts_tf = pd.DataFrame(bigram_tf.toarray(),
                                     columns=bigram_tf_columns)

bigram_word_counts_tf.head(5)

,_weight min,abilities cards,abilities make,ability cards,ability make,ability plan,ability players,ability use,able beat,able build,...,youtube com,yr old,z man,zero luck,zero player,zero sum,zombie apocalypse,zombie dice,zombie games,zombie theme
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
trigram_tf_columns = trigram_tfidf_vectorizer.get_feature_names_out()

trigram_word_counts_tf = pd.DataFrame(trigram_tf.toarray(),
                                      columns=trigram_tf_columns)

trigram_word_counts_tf.head(5)

,abstract area control,abstract doesn t,abstract star star,abstract strategy games,abstract tile laying,accessible non gamers,action point allowance,action selection mechanic,action selection mechanism,actions don t,...,yahtzee style dice,year old daughter,year old enjoys,year old loves,year old s,year old son,year old year,years ago played,years don t,youtube com watch
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Export the TF-IDF output for use in the modeling step

In [16]:
bigram_word_counts_tf.to_csv('/content/drive/MyDrive/Springboard DS/data/bigram_tf.csv')
trigram_word_counts_tf.to_csv('/content/drive/MyDrive/Springboard DS/data/trigram_tf.csv')